doctype html
html
    head
        title= 'Directory listing for ' + path
        link(rel="stylesheet", type="text/css",
             href="/meta/directory.css")
    body
        script(src="/meta/jquery-2.0.2.min.js")
        script(src="/meta/getSize.js")
        h2.header
            = 'Directory listing for ' + path
        hr
        table.listing
            tr
                th
                th
                th
                th= 'Filename'
                th= 'Size'
                th= 'Modified'

            each file in files
                if file.readable && file.stats
                    - var isDir = file.stats.isDirectory();
                    - var ft = isDir? "dir":"normal";
                    tr
                        td.bracket(side="left")
                        td
                            a.download-link(href='/download' + path + file.name,
                                            ft=ft)

                        td.bracket(side="right")
                        td
                            a.browse-link(href='/browse' + path + file.name,
                                          ft=ft)
                                  = file.name

                        if isDir
                            td.size(isDir="true", status="clickme",
                                    pathname=(path + file.name))
                                = "(click)"
                        else
                            td.size(isDir="false")
                                = formatSize(file.stats.size)

                        td.mtime
                            != formatDateFull(file.stats.mtime, date)
        hr
        p.footer
            = 'targetfly server v' + version
            = ', running on node.js '
            = node_version + '/' + platform + '/' + arch
