doctype html
html
    head
        title= 'Directory listing for ' + path
        link(rel="stylesheet", type="text/css",
             href="/meta/directory.css")
    body
        script(src="/meta/jquery-2.0.2.min.js")
        script(src="/meta/getSize.js")
        script(src="/meta/formatting.js")
        h2.header
            = 'Directory listing for ' + path
        hr
        table.listing
            thead
                tr
                    th
                    th= 'Download'
                    th

                    th
                    th= 'Browse'
                    th

                    th
                    th= 'Size'
                    th
                    
                    th    
                    th= 'Modified'
                    th

            tbody
                each file in files
                    tr
                        - var valid = file.readable && file.stats
                        if valid
                            - var isDir = file.stats.isDirectory();
                            - var ft = isDir? "dir":"normal";

                        td.bracket(side="left")
                        td
                            if valid
                                a.download-link(
                                    href='/download' + path + file.name,
                                    ft=ft)

                        td.bracket(side="right")
                        td.bracket(side="left")
                        td
                            if valid
                                a.browse-link(
                                    href='/browse' + path + file.name,
                                    ft=ft)
                                        = file.name
                            else
                                = file.name

                        td.bracket(side="right")
                        td.bracket(side="left")
                        if valid
                            if isDir
                                td.size(isDir="true", status="clickme",
                                        pathname=(path + file.name))
                                    = "estimate size"
                            else
                                td.size(isDir="false")
                                    = formatSize(file.stats.size)
                        else
                            td

                        td.bracket(side="right")
                        td.bracket(side="left")
                        if file.stats
                            td.mtime
                                != formatDateFull(file.stats.mtime, date)
                        else
                            td
                        td.bracket(side="right")
        hr
        p.footer
            = 'targetfly server v' + version
            = ', running on node.js '
            = node_version + '/' + platform + '/' + arch
