doctype html
html
    head
        title= 'Directory listing for ' + path
        link(rel="stylesheet", type="text/css",
             href="/meta/directory.css")
    body
        h2(class="header")
            = 'Directory listing for ' + path
        hr
        table(class="listing")
            tr
                th
                th
                th
                th= 'Filename'
                th= 'Size'
                th= 'Modified'

            each file in files
                if file.readable && file.stats
                    - var isDir = file.stats.isDirectory();
                    - var ft = isDir? "dir":"normal";
                    tr
                        td(class="bracket", side="left")
                        td
                            a(href='/download' + path + file.name,
                              class="download-link", ft=ft)

                        td(class="bracket", side="right")
                        td
                            a(href='/browse' + path + file.name,
                              class="browse-link", ft=ft)
                                  = file.name

                        if isDir
                            td(class="size", isDir="true")
                        else
                            td(class="size")
                                = formatSize(file.stats.size)

                        td(class="mtime")
                            != formatDateFull(file.stats.mtime, date)
        hr
        p(class="footer")
            = 'targetfly server v' + version
            = ', running on node.js '
            = node_version + '/' + platform + '/' + arch
